pipeline/DRC.json
{
	"name": "DRC",
	"properties": {
		"activities": [
			{
				"name": "actuals_path",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "root",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "actuals_path",
					"value": {
						"value": "@concat(variables('root'),'/ACTUALS')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "root",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "drc_wheel_validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "root",
					"value": {
						"value": "@concat('/mnt/dartread/EDW/AA/DRC/',pipeline().parameters.stage)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "drc_wheel_validation",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "drc_wheel_validation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"stage": {
							"value": "@pipeline().parameters.stage",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "intervals_path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "intervals_folder",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "root",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "intervals_path",
					"value": {
						"value": "@concat(variables('root'),'/',variables('intervals_folder'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "intervals_folder",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "intervals_folder",
					"value": "INTERVALS"
				}
			},
			{
				"name": "Actuals_update",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "actuals_path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Actuals_update",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"actuals_path": {
							"value": "@variables('actuals_path')",
							"type": "Expression"
						},
						"DIM_DISTRIBUTOR_CCC_PARQUET_FILE": {
							"value": "@pipeline().parameters.DIM_DISTRIBUTOR_CCC_PARQUET_FILE",
							"type": "Expression"
						},
						"DIM_PRODUCT_PARQUET_FILE": {
							"value": "@pipeline().parameters.DIM_PRODUCT_PARQUET_FILE",
							"type": "Expression"
						},
						"FACT_ANAPLAN_PARQUET_FILE": {
							"value": "@pipeline().parameters.FACT_ANAPLAN_PARQUET_FILE",
							"type": "Expression"
						},
						"stage": {
							"value": "@pipeline().parameters.stage",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "MI_tool",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Actuals_update",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "intervals_path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "intervals_folder",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "actuals_path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MI_tool",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"actuals_path": {
							"value": "@variables('actuals_path')",
							"type": "Expression"
						},
						"intervals_path": {
							"value": "@variables('intervals_path')",
							"type": "Expression"
						},
						"stage": {
							"value": "@pipeline().parameters.stage",
							"type": "Expression"
						},
						"intervals_folder": {
							"value": "@variables('intervals_folder')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Actuals update Fail Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Actuals_update",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"receiver": {
							"value": "@pipeline().parameters.receiver",
							"type": "Expression"
						},
						"message": {
							"value": "@concat('DRC pipeline has failed :', activity('Actuals_update').error.message)",
							"type": "Expression"
						},
						"title": "PIPELINE RUN FAILED",
						"color": "Red",
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "DRC pipeline Success Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "MI_tool",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"receiver": {
							"value": "@pipeline().parameters.receiver",
							"type": "Expression"
						},
						"message": "DRC (MI) pipeline run successfully",
						"title": "PIPELINE RUN FINISHED",
						"color": "Green",
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "MI_tool Fail Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "MI_tool",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"receiver": {
							"value": "@pipeline().parameters.receiver",
							"type": "Expression"
						},
						"message": {
							"value": "@concat('DRC pipeline has failed :', activity('MI_tool').error.message)",
							"type": "Expression"
						},
						"title": "PIPELINE RUN FAILED",
						"color": "Red",
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"FACT_ANAPLAN_PARQUET_FILE": {
				"type": "string",
				"defaultValue": "/mnt/dartread/EDW/ANAPLAN/FACT_ANAPLAN/Current"
			},
			"DIM_DISTRIBUTOR_CCC_PARQUET_FILE": {
				"type": "string",
				"defaultValue": "/mnt/dartread/EDW/RAD/DIM_DISTRIBUTOR_CCC"
			},
			"DIM_PRODUCT_PARQUET_FILE": {
				"type": "string",
				"defaultValue": "/mnt/dartread/EDW/RAD/DIM_PRODUCT"
			},
			"stage": {
				"type": "string",
				"defaultValue": "DEV"
			},
			"receiver": {
				"type": "string",
				"defaultValue": "emilio.piotto@accenture.com"
			}
		},
		"variables": {
			"MI_failed": {
				"type": "String"
			},
			"depl_threshold": {
				"type": "String"
			},
			"intervals_path": {
				"type": "String"
			},
			"actuals_path": {
				"type": "String"
			},
			"output_path": {
				"type": "String"
			},
			"forecast_path": {
				"type": "String"
			},
			"MI_success": {
				"type": "String"
			},
			"directory": {
				"type": "String"
			},
			"root": {
				"type": "String"
			},
			"stage": {
				"type": "String"
			},
			"actuals_folder": {
				"type": "String"
			},
			"intervals_folder": {
				"type": "String"
			},
			"tot_depl_perc_threshold": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DRC"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-05T19:31:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}