pipeline/EDW_GREENBOOK_FILE_STAGING_Daily.json
{
	"name": "EDW_GREENBOOK_FILE_STAGING_Daily",
	"properties": {
		"description": "Move files from one folder to another folder",
		"activities": [
			{
				"name": "GetFileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "USBDS038_Folder",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@pipeline().parameters.FolderPath_SourceStore",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"childItems"
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the sub-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'NABCAGB_')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "Get_SrcMetadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "USBDS038_File",
									"type": "DatasetReference",
									"parameters": {
										"path": {
											"value": "@pipeline().parameters.FolderPath_SourceStore",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"size",
									"lastModified"
								]
							}
						},
						{
							"name": "File_Lookup",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Get_SrcMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[STG].[usp_FILE_LOOKUP]",
									"storedProcedureParameters": {
										"FILE_NAME": {
											"type": "String",
											"value": {
												"value": "@activity('Get_SrcMetadata').output.itemName",
												"type": "Expression"
											}
										},
										"TABLE_NAME": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.Destination_Table",
												"type": "Expression"
											}
										}
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "RAD_File_Table_Destination",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "If Condition",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "File_Lookup",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('File_Lookup').output.firstRow.EXIST",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Insert_Source_Data_FEX",
										"description": "Inserts source file metadata in log table",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[STG].[usp_INSERT_SRC_FILES_SOURCE]",
											"storedProcedureParameters": {
												"FILE_NAME": {
													"value": {
														"value": "@concat(item().name,'_FEX_', formatDateTime(utcnow(),'yyyyMMdd'))",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_CREATED_DATE": {
													"value": {
														"value": "@activity('Get_SrcMetadata').output.lastModified",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_PATH": {
													"value": {
														"value": "@pipeline().parameters.FolderPath_SourceStore",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_SIZE": {
													"value": {
														"value": "@activity('Get_SrcMetadata').output.size",
														"type": "Expression"
													},
													"type": "String"
												},
												"TABLE_NAME": {
													"value": {
														"value": "@pipeline().parameters.Destination_Table",
														"type": "Expression"
													},
													"type": "String"
												},
												"SOURCE": {
													"value": {
														"value": "@pipeline().parameters.SOURCE",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "NAM_COM_DART_SQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Copy NABCA Licensee on FEX",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Insert_Source_Data_FEX",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "FileSystemSource",
												"recursive": false
											},
											"sink": {
												"type": "FileSystemSink"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "USBDS038_File",
												"type": "DatasetReference",
												"parameters": {
													"path": {
														"value": "@pipeline().parameters.FolderPath_SourceStore",
														"type": "Expression"
													},
													"filename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "FEX_Destination_File",
												"type": "DatasetReference",
												"parameters": {
													"path": {
														"value": "@pipeline().parameters.FolderPath_Destination_FEX",
														"type": "Expression"
													},
													"filename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Get_FEXMetadata",
										"type": "GetMetadata",
										"dependsOn": [
											{
												"activity": "Copy NABCA Licensee on FEX",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "FEX_Destination_File",
												"type": "DatasetReference",
												"parameters": {
													"path": {
														"value": "@pipeline().parameters.FolderPath_Destination_FEX",
														"type": "Expression"
													},
													"filename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											},
											"fieldList": [
												"itemName",
												"lastModified",
												"size"
											]
										}
									},
									{
										"name": "Validate_Destination_Data_FEX",
										"description": "Inserts source file metadata in log table",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Get_FEXMetadata",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[STG].[usp_VALIDATE_DST_FILES]",
											"storedProcedureParameters": {
												"FILE_NAME": {
													"value": {
														"value": "@concat(item().name,'_FEX_', formatDateTime(utcnow(),'yyyyMMdd'))",
														"type": "Expression"
													},
													"type": "String"
												},
												"DST_CREATED_DATE": {
													"value": {
														"value": "@activity('Get_FEXMetadata').output.lastModified",
														"type": "Expression"
													},
													"type": "String"
												},
												"DST_PATH": {
													"value": {
														"value": "@pipeline().parameters.FolderPath_Destination_FEX",
														"type": "Expression"
													},
													"type": "String"
												},
												"DST_SIZE": {
													"value": {
														"value": "@activity('Get_FEXMetadata').output.size",
														"type": "Expression"
													},
													"type": "String"
												},
												"TABLE_NAME": {
													"value": {
														"value": "@pipeline().parameters.Destination_Table",
														"type": "Expression"
													},
													"type": "String"
												},
												"IS_ZIP": {
													"value": {
														"value": "@pipeline().parameters.Is_Zip",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "NAM_COM_DART_SQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Insert_Source_Data",
										"description": "Inserts source file metadata in log table",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Validate_Destination_Data_FEX",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[STG].[usp_INSERT_SRC_FILES_SOURCE]",
											"storedProcedureParameters": {
												"FILE_NAME": {
													"value": {
														"value": "@concat(item().name,'_', formatDateTime(utcnow(),'yyyyMMdd'))",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_CREATED_DATE": {
													"value": {
														"value": "@activity('Get_SrcMetadata').output.lastModified",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_PATH": {
													"value": {
														"value": "@pipeline().parameters.FolderPath_SourceStore",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_SIZE": {
													"value": {
														"value": "@activity('Get_SrcMetadata').output.size",
														"type": "Expression"
													},
													"type": "String"
												},
												"TABLE_NAME": {
													"value": {
														"value": "@pipeline().parameters.Destination_Table",
														"type": "Expression"
													},
													"type": "String"
												},
												"SOURCE": {
													"value": {
														"value": "@pipeline().parameters.SOURCE",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "NAM_COM_DART_SQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Copy NABCA Licensee on ADLs",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Insert_Source_Data",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "FileSystemSource",
												"recursive": false
											},
											"sink": {
												"type": "AzureBlobFSSink"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "USBDS038_File",
												"type": "DatasetReference",
												"parameters": {
													"path": {
														"value": "@pipeline().parameters.FolderPath_SourceStore",
														"type": "Expression"
													},
													"filename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "FILE_ADLs",
												"type": "DatasetReference",
												"parameters": {
													"path": {
														"value": "@pipeline().parameters.FolderPath_DestinationStore",
														"type": "Expression"
													},
													"filename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Get_AdlMetadata",
										"type": "GetMetadata",
										"dependsOn": [
											{
												"activity": "Copy NABCA Licensee on ADLs",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "FILE_ADLs",
												"type": "DatasetReference",
												"parameters": {
													"path": {
														"value": "@pipeline().parameters.FolderPath_DestinationStore",
														"type": "Expression"
													},
													"filename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											},
											"fieldList": [
												"itemName",
												"lastModified",
												"size"
											]
										}
									},
									{
										"name": "Validate_Destination_Data",
										"description": "Inserts source file metadata in log table",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Get_AdlMetadata",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[STG].[usp_VALIDATE_DST_FILES]",
											"storedProcedureParameters": {
												"FILE_NAME": {
													"value": {
														"value": "@concat(item().name,'_', formatDateTime(utcnow(),'yyyyMMdd'))",
														"type": "Expression"
													},
													"type": "String"
												},
												"DST_CREATED_DATE": {
													"value": {
														"value": "@activity('Get_AdlMetadata').output.lastModified",
														"type": "Expression"
													},
													"type": "String"
												},
												"DST_PATH": {
													"value": {
														"value": "@pipeline().parameters.FolderPath_DestinationStore",
														"type": "Expression"
													},
													"type": "String"
												},
												"DST_SIZE": {
													"value": {
														"value": "@activity('Get_AdlMetadata').output.size",
														"type": "Expression"
													},
													"type": "String"
												},
												"TABLE_NAME": {
													"value": {
														"value": "@pipeline().parameters.Destination_Table",
														"type": "Expression"
													},
													"type": "String"
												},
												"IS_ZIP": {
													"value": {
														"value": "@pipeline().parameters.Is_Zip",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "NAM_COM_DART_SQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Delete Files from FTP",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Validate_Destination_Data",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "USBDS038_File",
												"type": "DatasetReference",
												"parameters": {
													"path": {
														"value": "@pipeline().parameters.FolderPath_SourceStore",
														"type": "Expression"
													},
													"filename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											},
											"logStorageSettings": {
												"linkedServiceName": {
													"referenceName": "NAM_Data_Foundation_DataLake",
													"type": "LinkedServiceReference"
												},
												"path": "prod/Logs/Filecopy"
											},
											"enableLogging": true
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FolderPath_SourceStore": {
				"type": "string",
				"defaultValue": "nabca"
			},
			"FolderPath_DestinationStore": {
				"type": "string",
				"defaultValue": "prod/landing/GB/Inbox"
			},
			"Destination_Table": {
				"type": "string",
				"defaultValue": "LOGS.SOURCE_FILES_LOAD_LOG"
			},
			"Is_Zip": {
				"type": "string",
				"defaultValue": "1"
			},
			"STARTDATE": {
				"type": "string"
			},
			"FolderPath_Destination_FEX": {
				"type": "string",
				"defaultValue": "P12\\USA\\NABCA\\Inbox"
			},
			"SOURCE": {
				"type": "string",
				"defaultValue": "GREENBOOK"
			}
		},
		"folder": {
			"name": "GREENBOOK"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-06T17:23:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}