pipeline/Master_AAS_Model_Refresh_CCC.json
{
	"name": "Master_AAS_Model_Refresh_CCC",
	"properties": {
		"activities": [
			{
				"name": "Get Week Day",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DATEPART(dw,'@{formatDateTime(pipeline().parameters.STARTDATE,'yyyy-MM-dd')}')  AS DAY",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "RAD_Dim_Time_Sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Reprocess AAS",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Week Day",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Week Day').output.firstRow.DAY,1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "AAS_Model_Refresh_CCC_Dimensions_daily",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "AAS_Model_Refresh_CCC_Dimensions",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "AAS_Model_Refresh_CCC_Sales_Daily",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "AAS_Model_Refresh_CCC_Dimensions_daily",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "AAS_Model_Refresh_CCC_Sales_Daily",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "AAS_Model_Refresh_CCC_Dimensions_Weekly",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "AAS_Model_Refresh_CCC_Dimensions",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "AAS_Model_Refresh_CCC_Sales_Weekly",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "AAS_Model_Refresh_CCC_Dimensions_Weekly",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "AAS_Model_Refresh_CCC_Sales_Weekly",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "AAS_Model_Refresh_CCC_RGM_Partitions_Master",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "AAS_Model_Refresh_CCC_Sales_Weekly",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "AAS_Model_Refresh_CCC_RGM_Partitions_Master",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"STARTDATE": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-08-06T17:23:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}