pipeline/MI_tool.json
{
	"name": "MI_tool",
	"properties": {
		"activities": [
			{
				"name": "MI_tool",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@concat('/Repos/adf_db_repo/adf_db_drc_',pipeline().parameters.stage,'/notebooks/DRC/pipelines_notebooks/drc_model_interval')",
						"type": "Expression"
					},
					"baseParameters": {
						"actuals_path": {
							"value": "@pipeline().parameters.actuals_path",
							"type": "Expression"
						},
						"intervals_path": {
							"value": "@pipeline().parameters.intervals_path",
							"type": "Expression"
						},
						"stage": {
							"value": "@pipeline().parameters.stage",
							"type": "Expression"
						},
						"intervals_folder": {
							"value": "@pipeline().parameters.intervals_folder",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "adf_drc_fixed_cluster",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set tot_depl_perc_threshold",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "tot_depl_perc_threshold",
					"value": "96"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set tot_depl_perc_threshold",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MI_tool",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('MI_tool').output.runOutput.processed_tot_depl_perc, float(variables('tot_depl_perc_threshold')))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fai",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "'DRC threshold validation failed'",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"actuals_path": {
				"type": "string"
			},
			"intervals_path": {
				"type": "string"
			},
			"stage": {
				"type": "string"
			},
			"intervals_folder": {
				"type": "string"
			}
		},
		"variables": {
			"tot_depl_perc_threshold": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DRC"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-05T19:31:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}