DART/pipeline/BEP_MISSION_TASK_RESPONSE.json
{
	"name": "BEP_MISSION_TASK_RESPONSE",
	"properties": {
		"description": "Move files from one folder to another folder",
		"activities": [
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "File_Lookup",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Get_SrcMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[STG].[usp_FILE_LOOKUP]",
									"storedProcedureParameters": {
										"FILE_NAME": {
											"type": "String",
											"value": {
												"value": "@activity('Get_SrcMetadata').output.itemName",
												"type": "Expression"
											}
										},
										"TABLE_NAME": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.Destination_Table",
												"type": "Expression"
											}
										}
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "RAD_File_Table_Destination",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "If Condition",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "File_Lookup",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('File_Lookup').output.firstRow.EXIST",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy_File",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "FileSystemSource",
												"recursive": false
											},
											"sink": {
												"type": "AzureBlobFSSink"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 0
										},
										"inputs": [
											{
												"referenceName": "BEP_File_Source_FTP",
												"type": "DatasetReference",
												"parameters": {
													"path": {
														"value": "@pipeline().parameters.FolderPath_SourceStore",
														"type": "Expression"
													},
													"filename": "@item().name"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "BEP_File_Azure_Storage",
												"type": "DatasetReference",
												"parameters": {
													"path": {
														"value": "@pipeline().parameters.FolderPath_DestinationStore",
														"type": "Expression"
													},
													"filename": "@item().name"
												}
											}
										]
									},
									{
										"name": "Get_AdlMetadata",
										"type": "GetMetadata",
										"dependsOn": [
											{
												"activity": "Copy_File",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "Insert_Source_Data",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "BEP_File_Azure_Storage",
												"type": "DatasetReference",
												"parameters": {
													"path": "@pipeline().parameters.FolderPath_DestinationStore",
													"filename": "@item().name"
												}
											},
											"fieldList": [
												"itemName",
												"size",
												"lastModified"
											]
										}
									},
									{
										"name": "Validate_Destination_Data",
										"description": "Inserts source file metadata in log table",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Get_AdlMetadata",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[STG].[usp_VALIDATE_DST_FILES]",
											"storedProcedureParameters": {
												"FILE_NAME": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												},
												"DST_CREATED_DATE": {
													"value": {
														"value": "@activity('Get_AdlMetadata').output.lastModified",
														"type": "Expression"
													},
													"type": "String"
												},
												"DST_PATH": {
													"value": {
														"value": "@pipeline().parameters.FolderPath_DestinationStore",
														"type": "Expression"
													},
													"type": "String"
												},
												"DST_SIZE": {
													"value": {
														"value": "@activity('Get_AdlMetadata').output.size",
														"type": "Expression"
													},
													"type": "String"
												},
												"TABLE_NAME": {
													"value": {
														"value": "@pipeline().parameters.Destination_Table",
														"type": "Expression"
													},
													"type": "String"
												},
												"IS_ZIP": {
													"value": {
														"value": "@pipeline().parameters.Is_Zip",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "NAM_COM_DART_SQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Delete Source From Source",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Update Staging  Filename PipelineID",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "NIELSEN_IRI_File_FTP_bkp",
												"type": "DatasetReference",
												"parameters": {
													"path": "@pipeline().parameters.FolderPath_SourceStore",
													"filename": "@item().name"
												}
											},
											"enableLogging": false
										}
									},
									{
										"name": "Insert_Source_Data",
										"description": "Inserts source file metadata in log table",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[LOGS].[usp_INSERT_SRC_FILES]",
											"storedProcedureParameters": {
												"FILE_NAME": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_ID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"SOURCE": {
													"value": {
														"value": "@pipeline().parameters.SOURCE",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_CREATED_DATE": {
													"value": {
														"value": "@activity('Get_SrcMetadata').output.lastModified",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_PATH": {
													"value": {
														"value": "@pipeline().parameters.FolderPath_SourceStore",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_SIZE": {
													"value": {
														"value": "@activity('Get_SrcMetadata').output.size",
														"type": "Expression"
													},
													"type": "String"
												},
												"TABLE_NAME": {
													"value": {
														"value": "@pipeline().parameters.Destination_Table",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "NAM_COM_DART_SQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Load_BEP_Mission_Task_Response sql",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Validate_Destination_Data",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureBlobFSSource",
												"recursive": true
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "site_id"
														},
														"sink": {
															"name": "SITE_ID",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "state_name"
														},
														"sink": {
															"name": "STATE_NAME",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "period_name"
														},
														"sink": {
															"name": "PERIOD_NAME",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "product_universe"
														},
														"sink": {
															"name": "PRODUCT_UNIVERSE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "item_product"
														},
														"sink": {
															"name": "ITEM_PRODUCT",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "item_supplier_name"
														},
														"sink": {
															"name": "ITEM_SUPPLIER_NAME",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "place_id"
														},
														"sink": {
															"name": "PLACE_ID",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "place_type_name"
														},
														"sink": {
															"name": "PLACE_TYPE_NAME",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "place_td_link_id"
														},
														"sink": {
															"name": "PLACE_TD_LINK_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "place_name"
														},
														"sink": {
															"name": "PLACE_NAME",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "place_address"
														},
														"sink": {
															"name": "PLACE_ADDRESS",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "place_city"
														},
														"sink": {
															"name": "PLACE_CITY",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "postal_code"
														},
														"sink": {
															"name": "POSTAL_CODE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_premise"
														},
														"sink": {
															"name": "CUSTOMER_PREMISE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_no"
														},
														"sink": {
															"name": "CUSTOMER_NO",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "mission_id"
														},
														"sink": {
															"name": "MISSION_ID",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "mission_version"
														},
														"sink": {
															"name": "MISSION_VERSION",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mission_name"
														},
														"sink": {
															"name": "MISSION_NAME",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mission_response_id"
														},
														"sink": {
															"name": "MISSION_RESPONSE_ID",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "mission_latitude"
														},
														"sink": {
															"name": "MISSION_LATITUDE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mission_longitude"
														},
														"sink": {
															"name": "MISSION_LONGITUDE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mission_created_at"
														},
														"sink": {
															"name": "MISSION_CREATED_AT",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "mission_updated_at"
														},
														"sink": {
															"name": "MISSION_UPDATED_AT",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "mission_completed_at"
														},
														"sink": {
															"name": "MISSION_COMPLETED_AT",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "mission_state"
														},
														"sink": {
															"name": "MISSION_STATE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_id"
														},
														"sink": {
															"name": "TASK_ID",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "task_version"
														},
														"sink": {
															"name": "TASK_VERSION",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "parent_task_id"
														},
														"sink": {
															"name": "PARENT_TASK_ID",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "parent_task_value"
														},
														"sink": {
															"name": "PARENT_TASK_VALUE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_type"
														},
														"sink": {
															"name": "TASK_TYPE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_title"
														},
														"sink": {
															"name": "TASK_TITLE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_description"
														},
														"sink": {
															"name": "TASK_DESCRIPTION",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_position"
														},
														"sink": {
															"name": "TASK_POSITION",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "section_id"
														},
														"sink": {
															"name": "SECTION_ID",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "section_title"
														},
														"sink": {
															"name": "SECTION_TITLE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_response_id"
														},
														"sink": {
															"name": "TASK_RESPONSE_ID",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "task_response_created_at"
														},
														"sink": {
															"name": "TASK_RESPONSE_CREATED_AT",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "task_response_completed_at"
														},
														"sink": {
															"name": "TASK_RESPONSE_COMPLETED_AT",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "task_response_firebase_url"
														},
														"sink": {
															"name": "TASK_RESPONSE_FIREBASE_URL",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_response_file_picker_url"
														},
														"sink": {
															"name": "TASK_RESPONSE_FILE_PICKER_URL",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_response_short_response"
														},
														"sink": {
															"name": "TASK_RESPONSE_SHORT_RESPONSE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_response_long_response"
														},
														"sink": {
															"name": "TASK_RESPONSE_LONG_RESPONSE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_response_int_response"
														},
														"sink": {
															"name": "TASK_RESPONSE_INT_RESPONSE",
															"type": "Int32"
														}
													},
													{
														"source": {
															"name": "task_response_float_response"
														},
														"sink": {
															"name": "TASK_RESPONSE_FLOAT_RESPONSE",
															"type": "Double"
														}
													},
													{
														"source": {
															"name": "task_response_date_response"
														},
														"sink": {
															"name": "TASK_RESPONSE_DATE_RESPONSE",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "task_response_is_deleted"
														},
														"sink": {
															"name": "TASK_RESPONSE_IS_DELETED",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "BEP_File_Azure_Storage",
												"type": "DatasetReference",
												"parameters": {
													"path": "@pipeline().parameters.FolderPath_DestinationStore",
													"filename": "@item().name"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "BEP_MISSION_TASK_RESPONSE",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Update Staging  Filename PipelineID",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Load_BEP_Mission_Task_Response sql",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "STG.usp_UPDATE_STG_TABLE_FILENAME",
											"storedProcedureParameters": {
												"FILE_NAME": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_ID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"TABLE_NAME": {
													"value": {
														"value": "@pipeline().parameters.Stage_table",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "NAM_COM_DART_SQL",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Get_SrcMetadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "BEP_File_Source_FTP",
									"type": "DatasetReference",
									"parameters": {
										"path": {
											"value": "@pipeline().parameters.FolderPath_SourceStore",
											"type": "Expression"
										},
										"filename": "@item().name"
									}
								},
								"fieldList": [
									"itemName",
									"size",
									"lastModified"
								]
							}
						}
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the sub-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'FinalBEPBacardiExportFullHistory')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetFileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BEP_FTP_Source_Folder",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@pipeline().parameters.FolderPath_SourceStore",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"childItems"
					]
				}
			}
		],
		"parameters": {
			"FolderPath_SourceStore": {
				"type": "String",
				"defaultValue": "BEP 2.0"
			},
			"FolderPath_DestinationStore": {
				"type": "String",
				"defaultValue": "prod/Bep/MissionTaskResponse"
			},
			"Destination_Table": {
				"type": "string",
				"defaultValue": "LOGS.SOURCE_FILES_LOAD_LOG"
			},
			"Is_Zip": {
				"type": "string",
				"defaultValue": "0"
			},
			"STARTDATE": {
				"type": "string",
				"defaultValue": "2021-10-01"
			},
			"SOURCE": {
				"type": "string",
				"defaultValue": "BEP"
			},
			"Stage_table": {
				"type": "string",
				"defaultValue": "BEP.MISSION_TASK_RESPONSE"
			}
		},
		"folder": {
			"name": "BEP"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-04T19:23:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}