DART/pipeline/EDW_NABCA_RETAILSYNC.json
{
	"name": "EDW_NABCA_RETAILSYNC",
	"properties": {
		"description": "Move files from one folder to another folder",
		"activities": [
			{
				"name": "Insert_Source_Data",
				"description": "Inserts source file metadata in log table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STG].[usp_INSERT_SRC_FILES]",
					"storedProcedureParameters": {
						"FILE_NAME": {
							"value": {
								"value": "@concat('BACARSDF.ZIP_', formatDateTime(pipeline().parameters.STARTDATE,'yyyy_MM_dd'))",
								"type": "Expression"
							},
							"type": "String"
						},
						"SRC_CREATED_DATE": {
							"value": {
								"value": "@pipeline().parameters.STARTDATE",
								"type": "Expression"
							},
							"type": "String"
						},
						"SRC_PATH": {
							"value": {
								"value": "@pipeline().parameters.FolderPath_SourceStore",
								"type": "Expression"
							},
							"type": "String"
						},
						"SRC_SIZE": {
							"value": "00",
							"type": "String"
						},
						"TABLE_NAME": {
							"value": {
								"value": "@pipeline().parameters.Destination_Table",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NAM_COM_DART_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Validate_Destination_Data",
				"description": "Inserts source file metadata in log table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get_AdlMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STG].[usp_VALIDATE_DST_FILES]",
					"storedProcedureParameters": {
						"FILE_NAME": {
							"value": {
								"value": "@concat('BACARSDF.ZIP_', formatDateTime(pipeline().parameters.STARTDATE,'yyyy_MM_dd'))",
								"type": "Expression"
							},
							"type": "String"
						},
						"DST_CREATED_DATE": {
							"value": {
								"value": "@activity('Get_AdlMetadata').output.lastModified",
								"type": "Expression"
							},
							"type": "String"
						},
						"DST_PATH": {
							"value": {
								"value": "@pipeline().parameters.FolderPath_DestinationStore",
								"type": "Expression"
							},
							"type": "String"
						},
						"DST_SIZE": {
							"value": {
								"value": "@activity('Get_AdlMetadata').output.size",
								"type": "Expression"
							},
							"type": "String"
						},
						"TABLE_NAME": {
							"value": {
								"value": "@pipeline().parameters.Destination_Table",
								"type": "Expression"
							},
							"type": "String"
						},
						"IS_ZIP": {
							"value": {
								"value": "@pipeline().parameters.Is_Zip",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NAM_COM_DART_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy_Transformed_BD_Datalake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Stg_Retailsync_Azure_Sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "NABCA_Retailsync_STG_SQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "NABCA_Retailsync_File_Storage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy BACARSD zip",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "FileSystemSource",
						"recursive": false
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "NABCA_Retailsync_Bacarsdf_File_FTP",
						"type": "DatasetReference",
						"parameters": {
							"path": "@pipeline().parameters.FolderPath_SourceStore",
							"filename": "BACARSDF.ZIP"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "NABCA_Retailsync_Bacarsdf_File_Azure_Storage",
						"type": "DatasetReference",
						"parameters": {
							"path": "@pipeline().parameters.FolderPath_DestinationStore"
						}
					}
				]
			},
			{
				"name": "Get_AdlMetadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy BACARSD zip",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Insert_Source_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "NABCA_Retailsync_BACARRS4_ADL_Source",
						"type": "DatasetReference",
						"parameters": {
							"path": "@pipeline().parameters.FolderPath_Retailsync",
							"filename": "@pipeline().parameters.Filename_Retailsync"
						}
					},
					"fieldList": [
						"itemName",
						"size",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Load_Stg_Retailsync_Azure_Sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Validate_Destination_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [STG].[STG_RETAILSYNC]",
						"sqlWriterStoredProcedureName": "[STG].[usp_LOAD_STG_RETAILSYNC]",
						"sqlWriterTableType": "STG.STG_RETAILSYNC_TYPE",
						"storedProcedureTableTypeParameterName": "TVP",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "VALUE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NABCA_Retailsync_BACARRS4_ADL_Source",
						"type": "DatasetReference",
						"parameters": {
							"path": "@pipeline().parameters.FolderPath_Retailsync",
							"filename": "@pipeline().parameters.Filename_Retailsync"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "NABCA_Retailsync_Tvp_Stg_Sql",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load Xref Retailsync",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Stg_Retailsync_Azure_Sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [NABCA].[XREF_RETAILSYNC]",
						"writeBehavior": "insert",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "RCLIENTNO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RCLIENTNO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RTRANSCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RTRANSCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RFILEDT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RFILEDT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RTDLINXSCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RTDLINXSCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RTDLINXACD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RTDLINXACD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RTRADECLCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RTRADECLCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RFORMATCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RFORMATCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RSSTATUSCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RSSTATUSCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RASTATUSCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RASTATUSCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RREPLSCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RREPLSCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RREPLACD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RREPLACD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RCLVERDT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RCLVERDT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RSHIPTOACD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RSHIPTOACD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RFILLER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RFILLER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NABCA_Retailsync_STG_SQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "NABCA_Retailsync_xref_edw",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_Stg_StoreOutlet_Azure_Sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Validate_Destination_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [STG].[STG_STOREOUTLET]",
						"sqlWriterStoredProcedureName": "[STG].[usp_LOAD_STG_STOREOUTLET]",
						"sqlWriterTableType": "STG.STG_STOREOUTLET_TYPE",
						"storedProcedureTableTypeParameterName": "TVP",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "VALUE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NABCA_Retailsync_BACARRS4_ADL_Source",
						"type": "DatasetReference",
						"parameters": {
							"path": "@pipeline().parameters.FolderPath_Retailsync",
							"filename": "@pipeline().parameters.Filename_StoreOutlet"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "NABCA_Retailsync_Tvp_Stg_Sql",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_Transformed_BD_Datalake_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Stg_StoreOutlet_Azure_Sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "NABCA_StoreOutlet_STG_SQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "NABCA_StoreOutlet_File_Storage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load Xref StoreOutlet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Stg_StoreOutlet_Azure_Sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [NABCA].[XREF_STORE_OUTLET]",
						"writeBehavior": "insert",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "STDLINXSCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "STDLINXSCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STRANSCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "STRANSCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SMODCHGIND",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SMODCHGIND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SFILEDT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SFILEDT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SSTATUSIND",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SSTATUSIND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SNO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SNO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SSTREETADD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SSTREETADD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SCITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SCITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SST",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SST",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SZIP",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SZIP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SPLACENM",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SPLACENM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SSTCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SSTCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SCNTCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SCNTCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SCNTRYNM",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SCNTRYNM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STRADECLCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "STRADECLCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SFORMATCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SFORMATCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SNOSTRCD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SNOSTRCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SCHAININD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SCHAININD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SFILLER1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SFILLER1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SGAS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SGAS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIVOLCIG",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SHIVOLCIG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SPHARM",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SPHARM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SLIQUOR",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SLIQUOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SWINE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SWINE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SBEER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SBEER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SONPREM",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SONPREM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SFOODTYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SFOODTYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SCLINICS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SCLINICS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SSNAPWIC",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SSNAPWIC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SFUTURE1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SFUTURE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SFILLER8",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SFILLER8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NABCA_StoreOutlet_STG_SQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "NABCA_StoreOutlet_xref_edw",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"FolderPath_SourceStore": {
				"type": "String",
				"defaultValue": "/"
			},
			"FolderPath_DestinationStore": {
				"type": "String",
				"defaultValue": "prod/landing/Retailsync"
			},
			"Destination_Table": {
				"type": "string",
				"defaultValue": "LOGS.SOURCE_FILES_LOAD_LOG"
			},
			"Is_Zip": {
				"type": "string",
				"defaultValue": "1"
			},
			"STARTDATE": {
				"type": "string"
			},
			"FolderPath_Retailsync": {
				"type": "string",
				"defaultValue": "prod/landing/Retailsync/BACARSDF.ZIP/"
			},
			"Filename_Retailsync": {
				"type": "string",
				"defaultValue": "BACARRS4.SDF"
			},
			"Filename_StoreOutlet": {
				"type": "string",
				"defaultValue": "BACARSTR.SDF"
			}
		},
		"folder": {
			"name": "NABCA COMPETITIVE"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-04T19:23:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}