DART/pipeline/VMI_ORCHESTRATOR.json
{
	"name": "VMI_ORCHESTRATOR",
	"properties": {
		"activities": [
			{
				"name": "Copy CUSTOMER_LOCATION_MASTER",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy INVENTORY_HISTORY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from [VMI].[CUSTOMER_LOCATION_MASTER]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CUS_DIST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CUS_DIST_NAME",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_DA_DIST_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CUS_DA_DIST_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_DIVISION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CUS_DIVISION",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_DA_LOC_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CUS_DA_LOC_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "CUS_LOC_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CUS_LOC_NAME",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_LOC_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CUS_LOC_STATUS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_DIST_OWN_LOC_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CUS_DIST_OWN_LOC_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_EDI_LOC_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CUS_EDI_LOC_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_SUPP_LOC_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CUS_SUPP_LOC_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_SHIPLANE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CUS_SHIPLANE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_TOT_LEADTIME",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CUS_TOT_LEADTIME",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "CUS_SHIP_METHOD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CUS_SHIP_METHOD",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_HUB_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CUS_HUB_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_LOC_ORD_INFO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CUS_LOC_ORD_INFO",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_SL_ORDER_INFO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CUS_SL_ORDER_INFO",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CUS_SL_SS_DAYS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CUS_SL_SS_DAYS",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "CUS_SL_PICK",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CUS_SL_PICK",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "CUS_SL_TRANSIT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CUS_SL_TRANSIT",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "CUS_SL_RECEIPT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CUS_SL_RECEIPT",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "FILE_DATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FILE_DATE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_BY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LAST_UPDATE_BY",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlCstMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetLOCATION_MASTER",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy INVENTORY_HISTORY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If Condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from [VMI].[INVENTORY_HISTORY]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "INV_DA_LOC_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INV_DA_LOC_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "INV_DA_LOC_ITEM_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INV_DA_LOC_ITEM_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "INV_PA_DATE",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "INV_PA_DATE",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "INV_PA_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "INV_PA_STATUS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "INV_STATUS_OVRD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "INV_STATUS_OVRD",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "INV_USED_ITEM_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "INV_USED_ITEM_STATUS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "INV_NQA",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INV_NQA",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "INV_QTY_ON_HAND",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INV_QTY_ON_HAND",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "INV_QTY_RESERVED",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INV_QTY_RESERVED",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "INV_QTY_COMMITTED",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INV_QTY_COMMITTED",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "INV_QTY_ON_ORDER",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INV_QTY_ON_ORDER",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "INV_QTY_IN_TRANSIT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INV_QTY_IN_TRANSIT",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "INV_DA_QTY_ON_ORDER_DU",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INV_DA_QTY_ON_ORDER_DU",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "INV_DA_QTY_IN_TRANSIT_DU",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INV_DA_QTY_IN_TRANSIT_DU",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "INV_QTY_SOLD",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INV_QTY_SOLD",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "INV_CASE_COUNT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INV_CASE_COUNT",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "BACARDI_SKU",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BACARDI_SKU",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BACARDI_LOCATION_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BACARDI_LOCATION_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FILE_DATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FILE_DATE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_BY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LAST_UPDATE_BY",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTINVENTORY_HISTORY",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetINVENTORY_HISTORY",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy PURCHASE_ORDER_HISTORY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy LOCATION_ITEM_MASTER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from [VMI].[PURCHASE_ORDER_HISTORY]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ORD_DA_PO_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_DA_PO_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_DA_LOC_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_DA_LOC_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_DATE_CREATED",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "ORD_DATE_CREATED",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ORD_BACARDI_PO_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_BACARDI_PO_NUMBER",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_TRANSPORTATION_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_TRANSPORTATION_CODE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_SHIP_METHOD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_SHIP_METHOD",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_WS_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_WS_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_ORDER_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_ORDER_TYPE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_THRESHOLD_NUMBER",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_THRESHOLD_NUMBER",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_LAUNCH_USER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_LAUNCH_USER",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_PRIORITY_FLAG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_PRIORITY_FLAG",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_ORDER_NOTE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ORD_ORDER_NOTE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_EXPECTED_SHIP",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "ORD_EXPECTED_SHIP",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ORD_DESIRED_DELIVERY",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "ORD_DESIRED_DELIVERY",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ORD_ORIG_EXPECTED_SHIP",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "ORD_ORIG_EXPECTED_SHIP",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ORD_ORIG_DESIRED_DELIVERY",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "ORD_ORIG_DESIRED_DELIVERY",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ORD_ACK_RCVD",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "ORD_ACK_RCVD",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ORD_SHIPLANE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_SHIPLANE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_DA_SIM_ITEM_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_DA_SIM_ITEM_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_DA_LOC_ITEM_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_DA_LOC_ITEM_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_INITIAL_SOQ",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_INITIAL_SOQ",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_SUGG_QTY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_SUGG_QTY",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_ORDER_QTY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_ORDER_QTY",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_ACK_ORDER_QTY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_ACK_ORDER_QTY",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_TOTAL_WS_ORDER_QTY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_TOTAL_WS_ORDER_QTY",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_ACK_FLAG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_ACK_FLAG",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_QTY_SHIPPED",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_QTY_SHIPPED",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_QTY_RECEIVED",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_QTY_RECEIVED",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_LINE_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_LINE_STATUS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_WS_NQA",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_WS_NQA",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_USED_OP",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_USED_OP",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_WS_OP",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_WS_OP",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_WS_DF",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 22
								},
								"sink": {
									"name": "ORD_WS_DF",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "ORD_PRE_ALERTS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_PRE_ALERTS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_POST_ALERTS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_POST_ALERTS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_ALERT_AUTO_REMOVE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_ALERT_AUTO_REMOVE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_LINE_COMMENTS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ORD_LINE_COMMENTS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_FCST_QTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								},
								"sink": {
									"name": "ORD_FCST_QTY",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "ORD_SAFETY_STOCK",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_SAFETY_STOCK",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "BACARDI_SKU",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BACARDI_SKU",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BACARDI_LOCATION_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BACARDI_LOCATION_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FILE_DATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FILE_DATE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_BY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LAST_UPDATE_BY",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_ALLOC_OQ_CHG",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ORD_ALLOC_OQ_CHG",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ORD_SUPP_ORDER_REF",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_SUPP_ORDER_REF",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ORD_DIST_ORDER_REF",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORD_DIST_ORDER_REF",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTPURCHASE_ORDER_HISTORY",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetPURCHASE_ORDER_HISTORY",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy SUPPLIER_ITEM_MASTER",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy CUSTOMER_LOCATION_MASTER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from [VMI].[SUPPLIER_ITEM_MASTER]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SIM_DIVISION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SIM_DIVISION",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SIM_DA_SIM_ITEM_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SIM_DA_SIM_ITEM_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SIM_SUPPLIER_CAT_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SIM_SUPPLIER_CAT_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SIM_SUPPLIER_UPC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SIM_SUPPLIER_UPC",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SIM_SUPPLIER_ALT_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SIM_SUPPLIER_ALT_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SIM_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SIM_DESCRIPTION",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SIM_ITEM_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SIM_ITEM_STATUS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SIM_MIN_OQ",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SIM_MIN_OQ",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SIM_PACK_SIZE1",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SIM_PACK_SIZE1",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SIM_PACK_SIZE2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SIM_PACK_SIZE2",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SIM_PACK_SIZE3",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SIM_PACK_SIZE3",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SIM_STOCK_UM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SIM_STOCK_UM",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SIM_BRAND_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SIM_BRAND_CODE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SIM_PRODUCT_GROUP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SIM_PRODUCT_GROUP",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SIM_CASE_COUNT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SIM_CASE_COUNT",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SIM_STACKABILITY_FACTOR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 14
								},
								"sink": {
									"name": "SIM_STACKABILITY_FACTOR",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "SIM_ALT_MATCH_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SIM_ALT_MATCH_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SIM_CASES_PER_LAYER",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SIM_CASES_PER_LAYER",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SIM_LAYERS_PER_PALLET",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SIM_LAYERS_PER_PALLET",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "FILE_DATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FILE_DATE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_BY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LAST_UPDATE_BY",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTSUPPLIER_ITEM_MASTER",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetSUPPLIER_ITEM_MASTER",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy LOCATION_ITEM_MASTER",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy SUPPLIER_ITEM_MASTER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from [VMI].[LOCATION_ITEM_MASTER]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DIM_DA_LOC_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DIM_DA_LOC_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "DIM_PA_DATE",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "DIM_PA_DATE",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DIM_DA_LOC_ITEM_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DIM_DA_LOC_ITEM_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "DIM_DA_SIM_ITEM_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DIM_DA_SIM_ITEM_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "DIM_DIST_UPC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_DIST_UPC",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_DIST_CAT_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_DIST_CAT_ID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_BUYER_PART_NO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_BUYER_PART_NO",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_DIST_UOM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_DIST_UOM",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_PA_ORDER_INFO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_PA_ORDER_INFO",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_SHIPLANE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_SHIPLANE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_USED_ITEM_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_USED_ITEM_STATUS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_PA_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_PA_STATUS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_STATUS_OVRD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_STATUS_OVRD",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_STATUS_OVRD_COMMENTS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DIM_STATUS_OVRD_COMMENTS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_STATUS_OVRD_EXPIRE",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "DIM_STATUS_OVRD_EXPIRE",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DIM_CURRENT_SQA",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DIM_CURRENT_SQA",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "DIM_CURRENT_NQA",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DIM_CURRENT_NQA",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "DIM_USED_OP",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DIM_USED_OP",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "DIM_USED_OP_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_USED_OP_TYPE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_SAFETY_STOCK",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 20
								},
								"sink": {
									"name": "DIM_SAFETY_STOCK",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "DIM_PLANNER_OVRD_OP",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DIM_PLANNER_OVRD_OP",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "DIM_PLANNER_OVRD_COMMENTS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DIM_PLANNER_OVRD_COMMENTS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_USED_MIN_OQ",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DIM_USED_MIN_OQ",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "DIM_PACK_SIZE_OVERRIDE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DIM_PACK_SIZE_OVERRIDE",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "DIM_BEHAVIOR_GROUP_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_BEHAVIOR_GROUP_CODE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_EXCLUDE_FROM_SUGG_ORDERS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_EXCLUDE_FROM_SUGG_ORDERS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_EXCLUDE_FROM_BTT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_EXCLUDE_FROM_BTT",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_MASTER_ITEM_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DIM_MASTER_ITEM_ID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "DIM_CURR_SHIP_IND",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_CURR_SHIP_IND",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_CURR_SHIP_ITEM_DATE",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "DIM_CURR_SHIP_ITEM_DATE",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DIM_DATE_CREATED",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "DIM_DATE_CREATED",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DIM_DATE_LAST_ORDERED",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "DIM_DATE_LAST_ORDERED",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DIM_SS_DAYS_OVRD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_SS_DAYS_OVRD",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DIM_MIN_PRESENCE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DIM_MIN_PRESENCE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FILE_DATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FILE_DATE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_BY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LAST_UPDATE_BY",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTLOCATION_ITEM_MASTER",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetLOCATION_ITEM_MASTER",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Week Day",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('Get Week Day').output.firstRow.DAY,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute VMI_DWH",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "VMI_DWH",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Get Week Day",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DATEPART(dw,'@{formatDateTime(pipeline().parameters.STARTDATE,'yyyy-MM-dd')}')  AS DAY",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "RAD_Dim_Time_Sql",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"STARTDATE": {
				"type": "string"
			}
		},
		"folder": {
			"name": "VMI"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-14T14:26:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}